# Postgres (recommended)
DATABASE_URL=postgresql+psycopg2://fpl:fpl@127.0.0.1:5432/fpl

# Optional fallback for quick local run without Docker:
# DATABASE_URL=sqlite:///./fpl.db

FPL_BOOTSTRAP_URL=https://fantasy.premierleague.com/api/bootstrap-static/
FPL_FIXTURES_URL=https://fantasy.premierleague.com/api/fixtures/
